@using Webdiyer.WebControls.Mvc;
@model PagedList<Start.Entity.EmailAddressInfo>

<p class="highlight">邮箱地址列表 </p>
<form action="/Admin/EmailAddressList" class="form-inline" method="get">
     <div class="form-group input-group-sm">
        <label class="control-label">用户编号</label>
        <input type="text" value="@(ViewBag.EmailAddressInfo.UserID==0?"":ViewBag.EmailAddressInfo.UserID.ToString())" name="userID" class="form-control" />
     </div>
    <div class="form-group">
         <input type="submit" class="btn btn-primary" value="搜索" />
    </div>
</form>
<table class="table table-bordered mt table-hover">
    <thead>
        <tr>
            <th>编号</th>
            <th>用户编号</th>
            <th>名称</th>
            <th>邮箱</th>
        </tr>
    </thead>
    <tbody>
        @{int index = -1; }
        @foreach (var item in Model)
        {
            index += 1;
            <tr>
                    <td><a href="/Admin/EmailAddress/@item.ID">@item.ID</a></td>
                    <td>@item.UserID</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>             
            </tr>
        }
    </tbody>
</table> 
@Html.Pager(Model,new PagerOptions{PageIndexParameterName = "pageIndex",CssClass="pagination"})
