@model Start.Entity.PhoneAddressInfo
<form class="form-horizontal" action="/Admin/PhoneAddress" method="Post" data-ajax="true" data-ajax-begin="ajaxBegin" data-ajax-failure="ajaxFailure" data-ajax-success="ajaxSuccess">
    <div class="panel panel-default">
        <div class="panel-heading">手机联系人</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">用户编号</label>
                <div class="col-sm-5"><input name="phoneAddressInfo.UserID" class="form-control" type="text" value="@(Model.UserID==0?"":Model.UserID.ToString())" /></div>
             </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">联系人名</label>
                <div class="col-sm-5"><input name="phoneAddressInfo.Name" class="form-control" type="text" value="@Model.Name" /></div>
             </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">联系人手机</label>
                <div class="col-sm-5"><input name="phoneAddressInfo.Phone" class="form-control" type="text" value="@Model.Phone" /></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="@(Model.ID==0?"新建":"修改")" />
                    <input type="hidden" name="phoneAddressInfo.ID"  value="@Model.ID" />    
                    <span id="spanPrompt" class="text-warning ml"></span>        
                </div>
            </div>

        </div>
    </div>
    
    
</form>
@section ScriptSection{
    <script type="text/javascript">
        //Ajax开始提交
        function ajaxBegin(){$("#spanPrompt").html("<img src='/Themes/Admin/Images/loading.jpg' alt='Loading' />");}
        //Ajax提交失败
        function ajaxFailure(){$("#spanPrompt").html("操作异常");}
        //Ajax提交完成
        function ajaxSuccess(json){ 
            if(json.Success == 1)
                window.location.href = "/Admin/PhoneAddressList";
            else
                $("#spanPrompt").html(json.Message);
        }
    </script>
}